header{
  color: white;
  font: bold 20pt Arial;
  background-color:cadetblue;
  align-items: center;
  text-align: end;
  display: flex;
  width: 100%;
  margin: auto;
}

header div{
  flex: 1;
}

header div p{
  text-align: left;
}


footer{
  font: italic 15pt Arial;
  text-align: center;
}

section{
  background-color:gainsboro;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  margin: auto;        

}

.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px black;
  width: 80%;
  border-radius: 15px;
}

button{
  font: bold 20px Arial;
  color: cadetblue;
  background-color: whitesmoke;
  border: none;
}
